$white-background: rgb(255, 255, 255);

$light-grey-search-bar: rgb(251, 251, 248);
$light-grey-search-bar-border: rgb(152, 149, 134);

$text-light: rgb(115, 114, 108);
$light-bar: rgba(49, 49, 46, 0.623);
$text-dark: rgb(60, 59, 55);

$rating-text-color: rgb(190, 90, 14);
$rating-star-color: rgb(235, 138, 47);

$line-seperator-color: rgb(220, 218, 203);

$border-black: rgb(60, 59, 55);

$border-top-category-cards: rgb(220, 218, 203);

$primary-btn-color: rgb(15, 124, 144);
$primary-btn-hover-color: rgb(9, 76, 89);
$secondary-btn-color: rgb(255, 255, 255);

$btn-border-blue-light: rgb(40, 150, 169);

$tertiary-color: rgb(234, 82, 82);
$tertiary-color-dark: rgb(153, 35, 55);

$btn-login-background: rgb(236, 82, 82);

$btn-facebook-background: rgb(26, 83, 138);
