.btn {
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 0.5rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    &:focus {
        outline: none;
    }

    &-primary {
        color: $white-background;
        fill: $white-background;
        background-color: $primary-btn-color;
        border: 2px solid $primary-btn-color;

        &:hover {
            background-color: $primary-btn-hover-color;
            border: 2px solid black;
        }
    }

    &-secondary {
        color: $btn-border-blue-light;
        fill: $btn-border-blue-light;
        background-color: $white-background;
        border: 2px solid $btn-border-blue-light;

        &:hover {
            color: black;
            fill: black;
            border: 2px solid black;
        }
    }

    &-tertiary {
        color: $white-background;
        background-color: $rating-text-color;

        &:hover {
            background-color: $tertiary-color;
        }
    }

    &-circle {
        border-radius: 50%;
        box-shadow: none;

        &-sm {
            height: 3rem;
            width: 3rem;
        }
        &-md {
            height: 4rem;
            width: 4rem;
        }
        &-lg {
            height: 6rem;
            width: 6rem;
        }
    }

    &-icon {
        width: 50%;
        height: 50%;
    }

    &-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &-sm {
        height: 2rem;
        width: 5rem;
    }

    &-md {
        height: 4rem;
        width: 10rem;
    }

    &-lg {
        height: 5rem;
        width: 25rem;
        font-size: 2rem;
    }

    &-text {
        font-weight: bold;
    }

    &-loginpage {
        width: 350px;
        height: 3em;
        margin: 10px;
        background-color: $btn-login-background;
        color: $white-background;

        &:hover {
            color: black;
            border: 2px solid black;
        }
    }

    &-facebook-login {
        display: flex;
        justify-content: center;
        width: 350px;
        height: 3rem;
        background-color: $btn-facebook-background;

        &:hover {
            border: 2px solid black;
            background-color: rgb(26, 83, 130);
        }
    }

    &-google-login {
        display: flex;
        justify-content: space-evenly;
        align-self: center;
        width: 350px;
        height: 3rem;
        margin: 1rem;
        background-color: $white-background;
    }

    &-loginpage {
        height: 45px;
        width: 95%;
        background-color: $btn-login-background;
        color: $white-background;

        &:hover {
            border: black solid 2px;
            background-color: $tertiary-color-dark;
        }
    }

    &-explore{
        border-radius: 1rem;
        height: 4rem;
        width: 8rem;
        
    }
}

.course-review-btn {
    height: 3rem;
    @include respond(tab-port) {
        height: 4rem;
    }
}
