.filter-sort-sort {
    width: 10rem;
    height: 4rem;
    border-radius: 5px;
}
.ui.selection.dropdown {
    padding: 1.2rem 2.1rem;
}
.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon,
.ui.selection.dropdown > .search.icon {
    top: 1rem;
}

.dropdown-close {
    height: 0;
    overflow: hidden;
}
.dropdown-open {
    height: 10rem;
    overflow: hidden;
}

.filter-dropdown {
    width: 75%;
    border-bottom: 1px solid $line-seperator-color;
    transition: height 0.5s ease-in-out;
}
