.top-header-navbar {
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
        padding: 0 2rem;
        display: inline-block;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        cursor: pointer;
    }

    &-dropdown {
        position: absolute;
        height: 0.1px;
        width: 0.1px;
        border-left: $line-seperator-color;
        border-right: $line-seperator-color;
        border-bottom: $line-seperator-color;
        box-shadow: 0 0.3rem 0.3rem $line-seperator-color;
        background-color: $white-background;
        overflow: hidden;
        opacity: 0;
        transition: height 0.5s ease-out, opacity 0.5s ease-out 0.5s;

        &-list {
            &-item {
                margin: 1rem 0rem;
                padding: 1rem 2rem;
                list-style: none;

                &-link {
                    text-decoration: none;
                    color: $text-light;
                    font-size: 2rem;
                    display: inline-block;
                    width: 100%;

                    &:hover {
                        color: $btn-border-blue-light;
                    }
                }
            }
        }
    }

    &:hover &-dropdown {
        height: 60vh;
        width: 20rem;
        opacity: 1;
        overflow: visible;
        top: 100%;
    }
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 0vw;
    height: 100vh;
    background-image: linear-gradient(
        to right,
        $light-bar,
        rgba($text-light, 1)
    );
    overflow: hidden;
    z-index: 55;

    &-main {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 30%;
        height: 100%;
        padding: 0 2rem;
        padding-top: 2rem;
        background-color: $white-background;

        &-top {
            margin-bottom: 2rem;

            &-login,
            &-signup {
                display: block;
                margin: 2rem 0;
                color: $primary-btn-color;
                font-size: 1.5rem;
            }
        }
        &-categories {
            height: 80%;
            margin-top: 1rem;

            &-header {
                margin-bottom: 2rem;
                font-size: 1.5rem;
            }

            &-list {
                list-style: none;
                // display: flex;
                // flex-direction: column;

                &-item {
                    margin: 1rem 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;

                    &-text {
                        font-size: 1.5rem;
                        color: $primary-btn-color;
                    }

                    &-icon {
                        width: 2rem;
                        height: 2rem;
                        fill: $primary-btn-color;
                    }
                }
            }
        }
    }
    &-close {
        width: 4rem;
        height: 4rem;
        position: absolute;
        top: 2rem;
        left: 31%;
        border-radius: 50%;
        background-color: $white-background;

        &-icon {
            margin-top: 50%;
            margin-left: 50%;
            transform: translate(-50%, -50%);
            width: 2rem;
            height: 2rem;
            fill: $text-light;
        }
    }
}
