.top-header-navbar {
    height: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &-title {
        padding: 0 2rem;
        display: inline-block;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        cursor: pointer;
    }

    &-dropdown {
        position: absolute;
        height: 0.1px;
        width: 0.1px;
        background-color: $white-background;
        overflow: hidden;
        opacity: 0;
        transition: width, opacity;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;

        &-list {
            &-item {
                margin: 1rem 0rem;
                padding: 1rem 2rem;
                list-style: none;

                &-link {
                    text-decoration: none;
                    color: $text-light;
                    font-size: 2rem;
                    display: inline-block;
                    width: 100%;

                    &:hover {
                        color: $btn-border-blue-light;
                    }
                }
            }
        }
    }

    &:hover &-dropdown {
        height: 60vh;
        width: 20rem;
        opacity: 1;
        overflow: visible;
        top: 100%;
    }
}
