* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @include respond(big-desktop) {
        font-size: 75%;
    }
    @include respond(tab-land) {
        font-size: 56.25%;
    }
    @include respond(tab-port) {
        font-size: 45%;
    }
    @include respond(mobile) {
        font-size: 30.5%;
    }
}

body {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    &:hover {
        color: inherit;
    }
}
