
.login-container input placeholder{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: rgb(104,134,191);
}

.h3-heading {
    font-size: 2rem;
    font-weight: bold;
}

.top-catagories-heading {
    padding: 2rem 0;
}
