.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.center-h-v {
    margin-top: 50%;
    margin-left: 50%;
    // transform: translate(-50%, -50%);
}

.image-overlay {
    background-image: linear-gradient(
        to bottom right,
        $light-bar,
        rgba($text-light, 1)
    );
}
