.text-center {
    text-align: center;
}

.center {
    margin: 0 auto;
}

.center-h-v {
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.center-vertically {
    margin-top: 50%;
    transform: translateY(-50%);
}

.image-overlay {
    background-image: linear-gradient(
        to bottom right,
        $light-bar,
        rgba($text-light, 1)
    );
}

.focus-tab {
    color: $text-dark;
    border-bottom: 1px solid;
}

.focus-pagenum {
    padding: 0.25rem;
    color: $text-dark;
    border: 1px solid;
}

.top-level-toop-tip {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    background-color: $tool-tip-color;
    color: $white-background;
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    max-height: 150px;
    max-width: 200px;
    .tool-tip-head {
        font-size: 1.75rem;
    }
    .tool-tip-text {
        display: inline;
    }
}
