.main-conatiner-bootcampForm .ui.steps:not(.unstackable) {
    @include respond(tab-port) {
        display: flex;
        flex-direction: row;
    }
}
.main-conatiner-bootcampForm .ui.steps:not(.unstackable) .step {
    @include respond(tab-port) {
        width: 50% !important;
    }
}

.ui.steps {
    border: 2px solid $primary-btn-color;
}
.ui.steps .step {
    border-right: 2px solid $primary-btn-color;
    border-top: 1px solid $primary-btn-color;
    // cursor: pointer;
}
.ui.steps .step.active {
    // cursor: pointer;
}

.bootcamp-form-content {
    margin: 2rem auto;
    width: 95%;
}

.bootcamp-form-content-basic {
    &-picture {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 0 auto;
        @include respond(mobile) {
            width: 40%;
        }
    }

    &-details {
        padding: 0 10rem;
    }

    &-bottom {
        padding: 0 10rem;
        margin-top: 5rem;
        display: flex;
        justify-content: flex-start;

        button:nth-last-child(1) {
            margin-left: auto;
        }
    }
}
