.ui.steps .step {
    cursor: pointer;
}
.ui.steps .step.active {
    cursor: pointer;
}

.bootcamp-form-content {
    margin: 2rem auto;
    width: 95%;
}

.bootcamp-form-content-basic {
    &-picture {
        display: flex;
        flex-direction: column;
        width: 30%;
        margin: 0 auto;
    }

    &-details {
        padding: 0 10rem;
    }

    &-bottom {
        padding: 0 10rem;
        margin-top: 5rem;
        display: flex;
        justify-content: flex-start;

        button:nth-last-child(1) {
            margin-left: auto;
        }
    }
}
