.category-tabs {
    margin-left: 3rem;
    grid-row: 2 / 3;
    grid-column: col-start 1 / col-end 11;
    display: flex;
    border-bottom: 1px solid $line-seperator-color;

    &-tab {
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: $text-light;
        transform-origin: center;

        &:not(:nth-child(1)) {
            margin: 0 1rem;
            padding: 0.5rem;
        }

        &:active,
        &:focus {
            color: $text-dark;
            border-bottom: 1px solid;
        }

        &-text {
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
}
