.pubProfile-tabs {
    grid-row: 1 / 2;
    grid-column: col-start 1 / col-end 10;
    width: 95%;
    display: flex;
    flex-direction: column;

    & > div {
        width: 100%;
    }

    &-profile,
    &-bankDT,
    &-bootcamp {
        cursor: pointer;
    }

    &-text {
        font-size: 1.5rem;
    }
}

.ui.tabular.menu .active.item {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
}
.ui.segment[class*='bottom attached'] {
    border-radius: 0px 0px 1rem 1rem;
    box-shadow: 0.5rem 0.5rem 0.3rem $line-seperator-color;
}

.pubProfile-tabContent {
    &-profile,
    &-bankDT,
    &-bootcamp {
        display: none;
        margin-top: 1rem;
        flex-direction: column;
        align-items: center;
    }

    &-profile {
        display: flex;

        &-image {
            display: flex;
            flex-direction: column;
            width: 30rem;

            &-img {
                width: 100%;
            }

            &-btn {
                margin-top: 1rem;
                height: 3rem;
            }
        }
    }
}

.pubProfile-form-control {
    margin-top: 2rem;
    width: 30rem;
    display: flex;
    flex-direction: column;

    & > * {
        cursor: pointer;
    }
    &-label {
        padding-left: 0.5rem;
        font-size: 1.5rem;
    }
    &-input {
        height: 3rem;
        outline: none;
        border-radius: 0.5rem;
        text-indent: 1rem;
        border: 1px solid $light-grey-search-bar-border;

        &::placeholder {
            font-size: 1.2rem;
        }
    }

    &-fileInput {
        opacity: 0;
        width: 0.1px;
        height: 0.1px;
        overflow: hidden;
    }
}

.label-btn {
    width: 100%;
    height: 3rem;
    padding-top: 0.3rem;
}

.pubProfile-form-submit {
    margin-top: 5rem;
    margin-bottom: 1rem;
    width: 30rem;
    height: 3rem;
}
