.main-container-courseForm{
    width: 90vw;
    padding-top: 10rem;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.course-form-content-basic-details{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}