.main-conatiner-pubProfile {
    margin: 0 auto;
    margin-top: 10rem;
    height: 100%;
    width: 90vw;
    display: grid;
    grid-template-rows: minmax(20rem, min-content);
    grid-template-columns: repeat(10, [col-start] 1fr [col-end]);
    row-gap: 1rem;
    column-gap: 1rem;
    overflow: hidden;
    @include respond(tab-port) {
        margin-top: 4rem;
        display: flex;
        flex-direction: column;
    }
}
